@import 'variables.scss';
* {
  margin: 0;
  padding: 0;
}

@keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  width: 0px;
  background: transparent;
}

input:-webkit-autofill {
  animation-name: autofill;
  -webkit-animation-name: autofill;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.full-window {
  width: 100vw;
  height: 100vh;
}

.ant-layout-sider-children .logo {
  height: 30px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  align-items: center;
  margin: 15px;
}
// Header
.logo-box {
  h1 {
    font-weight: 900;
    font-size: 30px;
    margin: 0;
  }
}

.underline {
  position: relative;
  &::after {
    content: ' ';
    width: 34px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #009edb;
  }
}
.descriptionColor {
  color: #009edb;
}

.ant-layout-header {
  box-shadow: rgb(240, 241, 242) 0px 2px 8px;
  padding-left: 20px;
  padding-right: 20px;
  //position: fixed;
  background-color: #fff;
  z-index: 2;
}

.main-style {
  background-color: #fff;
  transform: translateZ(0px);
  //   overflow: hidden;
}

.content-container {
  overflow: scroll;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 240px;
}

.menu-text {
  font-size: 15px;
}

.menu-sub-text {
  font-size: 14px;
}

.user-text {
  font-size: 15px;
}

.user-action {
  color: white;
  display: flex;
  align-items: center;
}

.talent-card-tags {
  margin-top: 10px;
  color: $blackColor;
  font-weight: 400;
  font-size: 14px;
  height: 55px;
  overflow: hidden;
}

.talent-card-info {
  margin-top: 10px;
  color: $blackColor;
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.talent-card-info span {
  margin-top: 10px;
  color: $primaryColor;
  font-weight: bold;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.code-score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.title-progress {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.title-progress-container {
  width: 100%;
  padding-right: 15px;
}

.title-progress span {
  color: $blackColor;
  padding-right: 15px;
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title-progress .fix-title {
  color: $blackColor;
  padding-right: 15px;
  font-weight: 400;
  font-size: 14px;
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.total-circle-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-circle-container span {
  color: $blackColor;
  font-weight: 400;
  font-size: 15px;
}

.talent-header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.profile-container {
  min-width: 200;
  padding: 5px;
  box-shadow: 0px 10px 8px #888888;
  background-color: white;
}

.profile-container .information {
  color: $blackColor;
  padding: 0px 5px 0px 5px;
  font-size: 15;
  font-weight: 200;
  margin-bottom: 20px;
}

.profile-container .information span {
  font-weight: 500;
}

.form-section-title {
  font-size: 16px;
  color: #1890ff;
  margin-bottom: 10px;
}

.talent-image-container {
  width: 104px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: dashed 1px #d9d9d9;
  background-color: whitesmoke;
}

.pdf-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 104px;
  height: 100px;
  margin-bottom: 10px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.ant-form-inline .ant-form-item > .ant-form-item-control-wrapper,
.ant-form-inline .ant-form-item > .ant-form-item-label {
  display: unset;
}

.list-filter-container {
  padding: 11px;
  background: white;
  margin: 10px 0px 10px 0px;
  border-radius: 4px;
  border-bottom: 1px solid #e8e8e8;
}

.list-filter-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.list-filter-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

//HOME PAGE
.carousel-box {
  min-height: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-box {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-carousel {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 368px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.img-box {
  width: 100%;
  height: 369px;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.ant-card-body {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section {
  margin-top: 45px;
}

//Side Banners

.banner-box {
  display: block;
  img {
    width: 100%;
    height: 100%;
  }
}

// Block Event
.seat-map {
  // padding: 25px;
  // border: 1px solid #ddd;
  margin: 5px 0;
  font-size: 15px;
  .stage {
    color: #fff;
    background: #000;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    margin: 0 0 15px;
  }
  .vip {
    color: #fff;
    background: #1890ff;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    opacity: 0.8;
    font-weight: 900;
  }
  .block-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block {
    width: 33%;
    color: #fff;
    background: #1890ff;
    text-align: center;
    padding: 15px;
    margin: 3px 0 0;
    border-radius: 3px;
  }
}

//seat map

.seat-picker {
  position: relative;
  margin-bottom: 20px;
  overflow: auto;
  // background-color: #888;
  // display: flex;
  // flex-direction: column;
  text-align: center;
  // justify-content: center;
  /* align-items: center; */
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  /* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

  /* total width */
  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: #007aff;
    border-radius: 16px;
    border: 2px solid #fff;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }

  .row {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
    > *:not(:last-child) {
      margin-bottom: 2px;
    }
    &:hover {
      background-color: #f5f5f5;
    }
    &.row--select {
      background-color: #f5f5f5;
    }

    .seat-name {
      position: sticky;
      left: 0;
      font-weight: 900;
      height: 17px;
      width: 20px;
      padding: 0 6px;
      z-index: 10;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      text-align: center;
      color: #9e9e9e;
      background-color: #fafafa;
      margin: 1px;
      padding-top: 3px;
      text-align: center;
    }
    .seat {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1px;
      height: 17px;
      width: 16px;
      padding: 0 3px;
      color: #fff;
      border-radius: 4px 4px 0 0;
      text-align: center;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &.separator {
        visibility: hidden;
        height: 17px;
        width: 16px;
        padding: 0 3px;
      }
      &.select {
        background-color: #00e676;
      }
      &.yellow {
        background-color: #ffd600;
        cursor: default;
      }
      &.orang {
        background-color: #ce8807;
      }
      &.blue {
        background-color: #039be5;
      }
      &.default {
        background-color: #b6e0f5;
      }
      &.red {
        background-color: #e64a19;
        cursor: default;
      }
      &.disable {
        background-color: #9e9e9e !important;
        cursor: default;
      }
    }
  }
}

//loading
.guide {
  display: flex;
  ul {
    display: flex;
    list-style-type: none;
  }
  .box {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #888;
    margin-left: 15px;
  }
  .means {
    display: inline;
    margin-right: 0;
    margin-left: 5px;
  }
  .selected {
    background-color: #00e676;
  }
  .available {
    background-color: #039be5;
  }
  .unavailable {
    background-color: #ffd600;
  }
  .book {
    background-color: #e64a19;
  }
}

// steps
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  // text-align: center;
  padding-top: 30px;
  padding: 30px 15px 10px;
}
.steps-footer {
  display: flex;
  justify-content: flex-end;
  > button {
    margin: 0 5px;
  }
}

.steps-action {
  margin-top: 24px;
}

// loading
.spin-box {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60vh;
}

// seats select info
.seats-info {
  // display: flex;
}
.seats-selected {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-weight: normal;
  > span {
    display: inline-block;
    margin: 0 5px;
    font-weight: 900;
  }
  > i {
    position: absolute;
    right: 15px;
  }
}
